* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#header-div, #hero-div {
    background-color: #1F2937;
    display: flex;
    padding: 30px 290px;
    justify-content: space-between;
}

#header-link-container {
    display:flex;
    width:500px;
    justify-content: space-between;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8
}

.dark-secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

#hero-div{
    display:flex;
    justify-content: space-between;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

#hero-text-container {
    width: 40%;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
}

button {
    width:150px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 10px 33px;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
}

#hero-img{
    width:500px;
}

#info-div {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 290px;
}

#info-header {
    margin-bottom: 30px;
}

#pictures-container {
    display: flex;
}

.single-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-picture-container p {
    text-align: center;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
}

.blue-box {
    width: 200px;
    height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 20px;
}

#quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 290px;
    background-color: #E5E7EB;
}