* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#header-div, #hero-div {
    background-color: #1F2937;
    display: flex;
    padding: 30px 290px;
    justify-content: space-between;
}

#header-link-container {
    display:flex;
    width:500px;
    justify-content: space-between;
}

#header-logo-text {
    font-size: 24px;
    color: #F9FAF8
}

.dark-secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

#hero-div{
    display:flex;
    justify-content: space-between;
    padding: 90px 290px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

#hero-text-container {
    width: 40%;
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-between;
}

button {
    width:150px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 10px 33px;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
}

#hero-img{
    width:500px;
}

#info-div {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 350px;
}

#info-header {
    margin-bottom: 80px;
}

#pictures-container {
    display: flex;
}

.single-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-picture-container p {
    text-align: center;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 55px;
}

.blue-box {
    width: 200px;
    height: 200px;
    border: #3882F6 solid 5px;
    border-radius: 20px;
}

#quote-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 380px;
    background-color: #E5E7EB;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    color: #1F2937;
    text-align: justify;
}

#attr-div {
    margin: 50px 0px;
    width: 100%;
    text-align: right;
}

#quote-attr {
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
}

#cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 260px;
}

#cta-div {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 60px 120px;
}

#cta-text-container {
    color: #F9FAF8;
}

#cta-button-container {
    color: #F9FAF8;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cta-button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
}

#footer {
    background-color: #1F2937;
    padding: 30px 290px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#footer-text-container {
    color:#F9FAF8;
}